
.sectorsWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sectorsContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
