@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --pink-light: #fd5293;
  --pink: #ed4d8b;
  --pink-medium: #d1447a;
  --pink-dark: #9f365f;
  --contrast: #fbd918;
  --white: #fff8fc;
  --black: #2b2827;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: var(--white);
  background-color: var(--pink);
}

header {
  line-height: 50px;
  background-color: var(--pink);
  display: flex;
}

header > div:first-child,
header > div:last-child {
  width: 50px;
  text-align: center;
}

header a {
  color: var(--white);
}

header > div:nth-child(2) {
  width: calc(100% - 60px);
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0;
  display: block;
  padding-left: 20px;
  background-color: var(--pink);
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  padding: 0;
  text-align: right;
}

.picture-container {
  height: 150px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-container::after{
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #2b2827b6;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    90deg,
    var(--black) 0%,
    var(--pink-light) 100%
  );
  opacity: 0.7;
}

.picture-container > img {
  width: 100%;
}

.header-container {
  height: 150px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pink-light);
}

.header-container > svg {
  font-size: 110px;
  width: calc(100% - 200px);
  color: var(--pink-medium);
}
.header-container > div {
  font-weight: 700;
  font-size: 40px;
  width: 200px;
  text-align: right;
  padding-right: 60px;
  line-height: 35px;
}

.is-light {
  background-color: var(--pink);
}

.is-dark {
  background-color: var(--pink-medium);
}

.company-container {
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pink-light);
}

.company-container > div:first-child {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.company-container img {
  width: 100%;
}

.company-container > div:last-child {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.company-title {
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 0;
  font-size: 22px;
  font-weight: 700;
}

.company-changes {
  width: 100%;
  height: 50px;
  text-align: right;
  font-size: 18px;
  opacity: 0.8;
}

.company-description {
  padding: 20px;
  background-color: var(--pink-medium);
  font-size: 13px;
  font-weight: 300;
  margin: 0;
}

.company-info {
  padding: 20px;
  background-color: var(--pink-medium);
}